<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <img src="c:\users\lab_services_student\source\repos\agrienergy_prog7311poe2_st10083669\agrienergy_prog7311poe2_st10083669\imags\bgimage.jpg" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
<style>
    body {
        background-color: lightcoral;
    }
</style>
</html>
