@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-color: lightcoral;
    }
</style>
<div class="text-center">
    
    <h1 class="display-4">Welcome to Agri-Energy Connect</h1>
    <p>We are a digital ecosystem where farmers, green energy experts,
        and enthusiasts can collaborate, share resources, and innovate in the realms of sustainable
        agriculture and renewable energy</a>.
        
    </p>

</div>
